.jumbotron 
{
	border : 2px solid white;
	border-radius : 20px;
	margin-top:20px;
	position:relative;
}

#titre
{
	margin-bottom: 75px;
}

.vertical-align 
{
	display:flex;
	align-items : center;
}

button
{
	text-decoration: bold;
}

#graphe2
{
	margin-top:20px;
}

h4
{
	margin:0;
	padding: 10px;
	margin-bottom:5px;
	border-radius: 5px;
}

h2
{
	display: inline;
	margin:0;
	text-decoration: bold;
}

span
{
	width:20px;
	height:20px;
	display:block;
}

.feu
{
	width: auto;
	border-radius: 5px;
	text-align: center;
	margin-left:10%;
}

.feuStatic
{
	width: auto;
	border-radius: 5px;
	text-align: center;
}

.bouton
{
	border-radius: 50%; 
	background-color: white;
	margin : auto;
	margin-top: 3px;
	margin-bottom: 3px;
}

.colorFeu
{
	border-radius: 50%; 
	margin : auto;
	margin-top: 3px;
	margin-bottom: 3px;
}

.m-10
{
	margin:10px;
}

.mt-10
{
	margin-top: 10px;
}

.bg-white
{
	background-color: white;
}

.bg-orange
{
	background-color: orange;
}

.bg-red
{
	background-color: red;
}

.bg-green
{
	background-color: green;
}

.d-inline
{
	display: inline;
}

.mb-10
{
	margin-bottom: 10px;
}

.border-grey
{
	border: 1px solid #ccc;
}

.p-0
{
	padding: 0;
}

.mt-20
{
	margin-top: 20px
}